@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono";
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-size: 18px;
}

.main {
  margin: 0 auto;
  width: max-content;
  margin-top: 25px;
  width: 60vw;
}

h1 {
  text-align: center;
  font-family: "Press Start 2P";
  margin-bottom: 30px;
  color: #f38ba8;
  font-size: 48px;
}

form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  color: #a6e3a1;
  text-align: center;
}

form input {
  background-color: #74c7ec;
  border: none;
  padding: 5px;
  border-radius: 2px;
  font-size: 18px;
  color: #181825;
  flex-grow: 1;
}

li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

li span {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  overflow: auto;
}


::-webkit-scrollbar{
  height: 10px;
  width: 5px;
  background: #313244;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #181825;
  border-radius: 10px;
}


.btn {
  padding: 0px 5px;
  font-family: "Jetbrains mono";
  position: relative;
  border-radius: 5px;
  border: none;
  background-color: #181825;
  color: #bac2de;
  height: max-content;
  padding: 5px;
}

.show-more-btn {
  background-color: #99d1db;
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;
}


/*
  Animation code
*/

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.btn::after, .btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 5px;
  background-image: conic-gradient(from var(--angle), #ea76cb, #d20f39, #8839ef, #1e66f5, #ea76cb);
  animation: spin 3s linear infinite;
}

.btn::before {
  filter: blur(30px);
  opacity: 0.5;
}


@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}


@media (max-width: 840px) {

  body {
    font-size: 24px;
  }

  .main {
    /* padding: 25px; */
    width: 90vw;
  }


  h1 {
    font-size: 48px;
    margin-bottom: 45px;
  }

  form {
    align-items: stretch;
    flex-direction: column;
    gap: 20px
  }

  form input {
    padding: 5px;
    font: 24px;
  }

  .add-item-btn {
    padding: 10px 5px;
    margin-bottom: 35px;
  }

  .btn {
    font-size: 24px;
  }

  li {
    margin-bottom: 15px;
  }
}


