@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono";
  background-color: #1e1e2e;
  color: #cdd6f4;
}

.main {
  margin: 0 auto;
  width: max-content;
  margin-top: 25px;
}

h1 {
  text-align: center;
  font-family: "Press Start 2P";
  margin-bottom: 30px;
  color: #f38ba8;
}

form {
  text-align: center;
  margin-bottom: 20px;
  color: #a6e3a1;
}

li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn {
  padding: 0px 5px;
  font-family: "Jetbrains mono";
  position: relative;
  border-radius: 5px;
  border: none;
  background-color: #181825;
  color: #bac2de;
}


/*
  Animation code
*/

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.btn::after, .btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 5px;
  background-image: conic-gradient(from var(--angle), #ea76cb, #d20f39, #8839ef, #1e66f5, #ea76cb);
  animation: spin 3s linear infinite;
}

.btn::before {
  filter: blur(30px);
  opacity: 0.5;
}


@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}




